//var
//PC端变量scss
//包含默认变量,常用函数,常用点位符(全是sass运算相关的东西)
//本文件中用//注释,可使生成文件中不包含注释信息

//混入
//定位
@mixin mx_plt($position: absolute, $left: 0, $top: 0) {
    position: $position;
    left: $left;
    top: $top;
}


@mixin mx_plb($position: absolute, $left: 0, $bottom: 0) {
    position: $position;
    left: $left;
    bottom: $bottom;
}


@mixin mx_prt($position: absolute, $right: 0, $top: 0) {
    position: $position;
    right: $right;
    top: $top;
}


@mixin mx_prb($position: absolute, $right: 0, $bottom: 0) {
    position: $position;
    right: $right;
    bottom: $bottom;
}


//transition
@mixin mx_transition($value) {
    -webkit-transition: $value;
    -ms-transition: $value;
    transition: $value;
}


@mixin mx_transition-duration($value) {
    -webkit-transition-duration: $value;
    -ms-transition-duration: $value;
    transition-duration: $value;
}


@mixin mx_transition-delay($value) {
    -webkit-transition-delay: $value;
    -ms-transition-delay: $value;
    transition-delay: $value;
}


@mixin mx_transition-property($value...) {
    -webkit-transition-property: $value;
    -ms-transition-property: $value;
    transition-property: $value;
}


@mixin mx_transition-timing-function($value) {
    -webkit-transition-timing-function: $value;
    -ms-transition-timing-function: $value;
    transition-timing-function: $value;
}


@mixin mx_transition-transform($value...) {
    -webkit-transition: -webkit-transform $value;
    -ms-transition: -webkit-transform $value;
    transition: transform $value;
}


//transform
@mixin mx_transform($value) {
    -webkit-transform: $value;
    -ms-transform: $value;
    transform: $value;
}


@mixin mx_transform-origin($value) {
    -webkit-transform-origin: $value;
    -ms-transform-origin: $value;
    transform-origin: $value;
}


@mixin mx_transform-style($value) {
    -webkit-transform-style: $value;
    -ms-transform-style: $value;
    transform-style: $value;
}


//animation
@mixin mx_animation($value) {
    -webkit-animation: $value;
    -ms-animation: $value;
    animation: $value;
}


@mixin mx_animation-name($value) {
    -webkit-animation-name: $value;
    -ms-animation-name: $value;
    animation-name: $value;
}


@mixin mx_animation-duration($value) {
    -webkit-animation-duration: $value;
    -ms-animation-duration: $value;
    animation-duration: $value;
}


@mixin mx_animation-iteration-count($value) {
    -webkit-animation-iteration-count: $value;
    -ms-animation-iteration-count: $value;
    animation-iteration-count: $value;
}


@mixin mx_animation-delay($value) {
    -webkit-animation-delay: $value;
    -ms-animation-delay: $value;
    animation-delay: $value;
}


//渐变背景
@mixin mx_gradient($value...) {
    background-image: -webkit-linear-gradient($value); /*安卓4.0-4.4*/
    background-image: -ms-linear-gradient($value); /*IE10+*/
    background-image: linear-gradient($value); /*css3标准*/
}


//backface-visibility
@mixin mx_backface-visibility($value) {
    -webkit-backface-visibility: $value;
    backface-visibility: $value;
}


//perspective
@mixin mx_perspective($value) {
    -webkit-perspective: $value;
    perspective: $value;
}


//盒子阴影
@mixin mx_box-shadow($value...) {
    -webkit-box-shadow: $value;
    -ms-box-shadow: $value;
    box-shadow: $value;
}


//user-select
@mixin mx_user-select($value) {
    -webkit-user-select: $value;
    -ms-user-select: $value;
    user-select: $value;
}


//box-sizing
@mixin mx_box-sizing($value) {
    -webkit-box-sizing: $value;
    -ms-box-sizing: $value;
    box-sizing: $value;
}


//transform-origin
@mixin mx_transform-origin($value) {
    -webkit-transform-origin: $value;
    -ms-transform-origin: $value;
    transform-origin: $value;
}


//透明度
@mixin mx_opacity($value) {
    opacity: $value;
    filter: alpha(opacity=#{$value * 100});
}


//行高与高度相同
@mixin mx_line-height($value) {
    height: $value;
    line-height: $value;
}


//占位符
//定位
%ph_palt
{
    @include mx_plt;
}


%ph_pflt
{
    @include mx_plt(fixed);
}


%ph_part
{
    @include mx_prt;
}


%ph_pfrt
{
    @include mx_prt(fixed);
}


%ph_palb
{
    @include mx_plb;
}


%ph_pflb
{
    @include mx_plb(fixed);
}


%ph_parb
{
    @include mx_prb;
}


%ph_pfrb
{
    @include mx_prb(fixed);
}


//宽度高度100%
%ph_full
{
    width: 100%;
    height: 100%;
}


//表格单元格
%ph_td
{
    display: table-cell;
    vertical-align: middle;
}


//高度自动撑高
%ph_hauto
{
    height: auto;
    overflow: hidden;
}


//all动画
%ph_transall
{
    @include mx_transition(all 0.3s ease);
}


//transform动画
%ph_transtransf
{
    @include mx_transition-transform(0.3s ease);
}


//visible
%ph_visible
{
    visibility: visible;
    opacity: 1;
}


//hidden
%ph_hidden
{
    visibility: hidden;
    opacity: 0;
}


//inlineblock
%ph_inlineblock
{
    display: inline-block;
    *zoom: 1;
}

//绝对定位
%ph_absolute
{
    position: absolute;
}