/*
PC端基础样式
包括样式重置,常用类等
*/

//默认变量
$duration: 0.3s !default;
$font-size: 12px !default;
$line-height: 1.5 !default;
$font-family: 微软雅黑, Helvetica !default;
$color: #333 !default;
$color-focus: #df2221 !default;

//外部引入
@import '../scss/var';

/*元素*/
*
{
    margin: 0;
    padding: 0;
}


body
{
    overflow-x: hidden;
    /*可继承*/
    -webkit-text-size-adjust: none;
    font-size: $font-size;
    color: $color;
    line-height: $line-height;
    font-family: $font-family;
}


li
{
    list-style: none;
}


img, input
{
    vertical-align: middle;
}


img
{
    border: none;
}


a
{
    color: inherit;
    outline: none;
    blr: expression(this.onFocus=this.blur()); /*去掉a标签虚线*/
    text-decoration: none;
    cursor: pointer;

    &, & *
    {
        @extend .transition;
    }

    &:hover, &:hover *
    {
        color: $color-focus;
    }
}


/*h类标签*/
$hx: (h1: 1.45em, h2: 1.3em, h3: 1.15em, h4: 1em);
@each $h, $size in $hx
{
    #{$h}
    {
        font-size: $size;
    }
}


/*类*/

/*隐藏*/
.hide
{
    display: none !important;
}


/*显示*/
.show
{
    display: block !important;
}


.fade-out, .fade-in
{
    @extend .transition;
    transition-property: opacity, visibility;
}


/*渐隐*/
.fade-out
{
    visibility: hidden !important;
    opacity: 0 !important;
}


/*渐显*/
.fade-in
{
    visibility: visible !important;
    opacity: 1 !important;
}


/*float*/
.fl
{
    float: left;
}


.fr
{
    float: right;
}


/*居中*/
.center
{
    text-align: center;
}


/*红色*/
.red
{
    color: #f00;
}


/*动画*/
.transition
{
    transition: all 0.3s ease;
}


.transform
{
    transition: transform 0.3s ease;
}


.notrans
{
    transition: none !important;
}


/*换行*/
.newline
{
    word-break: break-all;
}


/*不换行*/
.nonewline
{
    white-space: nowrap;
}


/*hiddenbox*/
.hiddenbox
{
    @include mx_plt($top: -9999px);
}