/*
PC端界面样式
包括样式重置,常用类等
*/

//默认变量
$width: 1004px !default;

//外部引入
@import "./base";

/*元素*/

/*内容*/
.headerbox, .mianbox, .footerbox
{
    clear: both;
}


.header, .main, .footer
{
    width: $width;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}